node_modules
test/
.DS_Store
npm-debug.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.project
.settings
.vscode

# only md and dist...
docs/.vuepress
package.json
package-lock.json
