node_modules
test/
.DS_Store
npm-debug.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.project
.settings
.vscode

# only md and dist
# docs/.vuepress/components
# docs/.vuepress/public
# docs/.vuepress/styles
# docs/.vuepress/config.js
# docs/.vuepress/enhanceApp.js
# 
# package.json
# package-lock.json
